.modal-content {
  background: transparent ;
  border: 1px solid #f8f9fa;
  border-radius: 0;
  box-shadow: -1px -1px 6px 0px #f8f9fa, 0 1px 6px 0 #f8f9fa, 0 1px 6px 0px #f8f9fa;
}

#loginModalCenter {
  color: #ffffff ;
}

.close {
  color: #ffffff ;
}

a {
  color: #00ff00 ;
}

.modal-header {
  border-bottom: 1px solid #00ff00 !important;
}

.dropdown-divider {
  border-top: 1px solid #00ff00 !important;
}

.btn-success {
  color: #fff;
  background-color: #00ff00 !important;
  border-color: #00ff00 !important;
}

.btn-block {
  width: 50% !important;
}

.btn {
  margin: auto;
}

.form-control {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #00ff00 !important;
  color: #ffffff !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0 !important;
}

.form-group {
  display: flex;
}

.is-invalid {
  border-bottom: 1px solid #dc3545 !important;
}
