<!-- offers coursel begins here -->
<h4 class="text-center display-4">Our Offers</h4>
<div class="container-fluid pdd-bottom-20 pdd-top-20 pdd-left-50 pdd-right-50">
	<div class="row">
		<div class="col-md-4">
			<img class="img-fluid" src="../../assets/images/chiron-device.png" alt="chiron device">
			<div style="background-color:#DCDCDC; height: 180px;">
				<h6 class="text-center pdd-top-20">THEBES</h6>
				<p class="pdd-left-20">1 Boîtiers S1</p>
				<p class="pdd-left-20">Logiciel et app S1 Pro (7 profils, 5 Exercices)</p>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img-fluid" src="../../assets/images/chiron-device.png" alt="chiron device">
			<div  style="background-color:#DCDCDC; height: 180px;">
				<h6 class="text-center pdd-top-20">HESPERIDES</h6>
				<p class="pdd-left-20">1 Boîtiers S1</p>
				<p class="pdd-left-20">Logiciel et app S1 Pro (21 profils, 30 exercices)</p>
				<p class="pdd-left-20">Ecran Moniteur et fixations</p>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img-fluid" src="../../assets/images/chiron-device.png" alt="chiron device">
			<div  style="background-color:#DCDCDC;height: 180px;">
				<h6 class="text-center pdd-top-20">OLYMPIA</h6>
				<p class="pdd-left-20">2 Boîtiers S1 Pro</p>
				<p class="pdd-left-20">Logiciel et app S1 Pro (100 profils, exercices illimités)</p>
				<p class="pdd-left-20">Grand Ecran Moniteur et fixations</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<img class="img-fluid" src="../../assets/images/chiron-device.png" alt="chiron device">
			<div style="background-color:#DCDCDC; height: 180px;">
				<h6 class="text-center pdd-top-20">ENVOI</h6>
				<p class="pdd-left-20">Analyse de vidéo en différé</p>
				<p class="pdd-left-20">Rapport détaillé*</p>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img-fluid" src="../../assets/images/chiron-device.png" alt="chiron device">
			<div style="background-color:#DCDCDC; height: 180px;">
				<h6 class="text-center pdd-top-20">SESSION</h6>
				<p class="pdd-left-20">Analyse sur sportifs</p>
				<p class="pdd-left-20">Accompagnement par un préparateur physique expert du système S1</p>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<!-- offers coursel ends here -->
