<div class="phase-chart" *ngIf="records.length >= 1 && !isFetching">
  <google-chart id="chart" #chart
    [type]="type"
    [data]="data"
    [columnNames]="columnNames"
    [dynamicResize]="true"
    [options]="options"
  >
  </google-chart>
  <div class="overlay">
    <p id="changeText" style="color: #2ace9a; margin-bottom: 0;">{{ avgPhaseConc }}</p>
    <p style="color: #ffffff; margin-bottom: 0;">{{ avgPhaseIso }}</p>
    <p style="color: #f23c50; margin-bottom: 0;">{{ avgPhaseExp }}</p>
    <p style="color: #838583;">AVG</p>
  </div>
</div>

