<div class="explosivite-chart" *ngIf="records.length >= 1 && !isFetching">
  <google-chart id="chart" #chart
    [type]="type"
    [data]="data"
    [columnNames]="columnNames"
    [dynamicResize]="true"
    [options]="options"
  >
  </google-chart>
  <div class="overlay">
    <div> {{autoSaveInterval}}</div>
  </div>
  <div class="maxOverlay">
    <div id="changeText">MAX: {{ maxValue }} kg/sec</div>
  </div>
  <div class="minOverlay">
    <div id="changeText">MIN: {{ minValue }} kg/sec</div>
  </div>
</div>

