<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="sidebar-account">
        <li class="pdd-top-20">
          <span class="text">7</span>
        </li>
        <li class="pdd-top-10">
          <img class="img-fluid" src="../../assets/images/paul.jpg">
        </li>
        <li class="pdd-top-20">
          <div class="player">Paul Charton</div>
          <div class="player">64 Kg</div>
          <div class="player">1m58</div>
        </li>
      </ul>
    </div>
    <!-----------  END OF SIDEBAR  ---------------->
    <div *ngIf="records.length >= 1 && !isFetching" class="col-md-10">
      <div class="dropdown-divider"></div>
      <div class="row pdd-top-50">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-amplitude-chart></app-amplitude-chart>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-explosivite-chart></app-explosivite-chart>
        </div>
      </div>
      <div class="row pdd-top-50">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-phase-chart></app-phase-chart>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-asymetrie-chart></app-asymetrie-chart>
        </div>
      </div>
    </div>
    <!--------------- END OF MAIN SECTION ----------------->
  </div>
</div>
