<div class="container-fluid">
  <div class="row pdd-bottom-30">
    <div class="col-md-2 sidebar">
      <ul class="sidebar-account">
        <li class="pdd-top-20">
          <span class="text">7</span>
        </li>
        <li class="pdd-top-10 text-center">
          <img class="img-fluid" src="../../assets/images/paul.jpg">
        </li>
        <li class="pdd-top-20">
          <div class="player">{{user.first_name}} {{user.last_name}}</div>
          <div class="player">{{user.weight}} Kg</div>
          <div class="player">{{user.height}}</div>
        </li>
        <li class="pdd-top-50 text-center">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="exerciseButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Exercise
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item">Squats</span>
              <span class="dropdown-item">Exercise 2</span>
              <span class="dropdown-item">Exercise 3</span>
            </div>
          </div>
        </li>
        <li class="text-center pdd-top-10">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sessionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Last Session
          </button>
        </li>
        <li class="text-center pdd-top-10">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="repButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rep Score
          </button>
        </li>
        <li class="text-center pdd-top-50">
          <img class="img-fluid" src="../../assets/images/chiron_bow.png">
        </li>
      </ul>
    </div>
    <!-----------  END OF SIDEBAR  ---------------->
    <div *ngIf="records.length >= 1 && !isFetching" class="col-md-10">
      <div class="row pdd-top-50">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-amplitude-chart></app-amplitude-chart>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-explosivite-chart></app-explosivite-chart>
        </div>
      </div>
      <div class="row pdd-top-50">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-phase-chart></app-phase-chart>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <app-asymetrie-chart ></app-asymetrie-chart>
        </div>
      </div>
      <div class="row pdd-top-50">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="row">
            <img class="img-fluid" style="margin: auto;" src="../../assets/images/dummy.png">
            <img class="img-fluid" style="position: absolute; top: 42%; left: 34%"  src="../../assets/images/node.png">
            <img class="img-fluid" style="position: absolute; top: 42%; left: 54%"  src="../../assets/images/node.png">
            <img class="img-fluid" style="position: absolute; top: 44%; left: 68%; transform: rotate(180deg); z-index: -1;" src="../../assets/images/arrows.png">
            <img class="img-fluid" style="position: absolute; top: 63%; left: 32%"  src="../../assets/images/node.png">
            <img class="img-fluid" style="position: absolute; top: 65%; left: 13%" src="../../assets/images/arrows.png">
          </div>
          <div class="row" style="display: flex;">
            <div class="asymmetryBlockRight"></div>
            <div class="asymmetryBlockLeft"></div>
          </div>
        </div>
        <div class="row">
          <div class="asymmetryInfo">
            <span>imbalance lvl</span>
            <span>= low</span>
            <span>right side</span>
            <span>(avg)</span>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <!--------------- END OF MAIN SECTION ----------------->
  </div>
  <!--<div class="row">
    <div class="col-md-12 text-center">
      <div class="dropdown-divider" style="margin: 0 !important"></div>
      <p class="text-center pdd-top-30 pdd-bottom-30">©2020, ChironIT. All Rights Reserved.</p>
  </div> -->
</div>
