#chart {
  width: 100%;
  height: 300px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;   /* chartArea top  */
  left: 70%; /* chartArea left */
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Lato';
}

.sidebar {
  border-left: 3px solid #00ff00;
  border-right: 3px solid #00ff00;
  bottom: 0;
  height: 100vh;
}

.sidebar-account {
  text-decoration: none;
  padding-left: 0 !important;
}

.wrapper {
  margin-top: 0.5rem;
}

/*.wrapper .sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0.5rem auto auto;
  left: 0;
  width: 14.5rem;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2000;
  border-left: 3px solid #00ff00;
  border-right: 3px solid #00ff00;
}*/

.text {
  font-size: 50px;
  color: #00ff00;
  padding-left: 20px;
  font-weight: 600;
}

.player {
  color: #ffffff;
  padding-left: 20px;
}

@media (min-width: 992px) {

}
