<div class="container-fluid" style="background-color: #fff; margin-right: auto; margin-left: auto;">
    <h3 class="text-center" style="padding-top: 90px;">TEAM</h3>
    <p class="text-center">We at ChironIT work collaborately to achieve best solutions</p>
    <div class="row" style="padding: 50px 150px 90px;">
      <div class="col-md-3">
        <div class="member text-center">
          <div class="pic">
            <img class="img-fluid img-thumbnail"  src="../../assets/images/paul.jpg">
          </div>
          <h4>Paul Charton</h4>
          <span>Chief Executive Officer</span>
          <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="member text-center">
          <div class="pic">
            <img class="img-fluid img-thumbnail"  src="../../assets/images/ghita.jpg">
          </div>
          <h4>Ghita EL BAKKAL</h4>
          <span>Scrum Master</span>
          <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="member text-center">
          <div class="pic">
            <img class="img-fluid img-thumbnail"  src="../../assets/images/jeffery.jpg">
          </div>
          <h4>Jeffrey Henrey</h4>
          <span>Marketing Head</span>
          <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="member text-center">
          <div class="pic">
            <img class="img-fluid img-thumbnail" src="../../assets/images/sitanshu.jpg">
          </div>
          <h4>Sitanshu Khosla</h4>
          <span>Web Developer</span>
          <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
