<section class="font-color-white pdd-top-70 pdd-bottom-70" style="background-color: black;">
  <h3 class="section-title text-center">BENEFITS</h3>
  <div class="container mar-top-50">
    <div class="row">
      <div class="col-md-3">
        <div class="ch-benefits text-center">
          <div>
            <img class="img-fluid"  src="../../assets/images/benefits_1.png">
          </div>
          <h4 class="pdd-top-20">Optimisatio of the effort</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ch-benefits text-center">
          <div>
            <img class="img-fluid"  src="../../assets/images/benefits_2.png">
          </div>
          <h4 class="pdd-top-20">Reduction of injury</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ch-benefits text-center">
          <div>
            <img class="img-fluid"  src="../../assets/images/benefits_3.png">
          </div>
          <h4 class="pdd-top-20">No door sensor</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ch-benefits text-center">
          <div>
            <img class="img-fluid"  src="../../assets/images/benefits_4.png">
          </div>
          <h4 class="pdd-top-20">Gain the time</h4>
        </div>
      </div>
    </div>
  </div>
</section>
