.chironGraph {
  background-image: url('../../../assets/images/graph.png');

}

.section-title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
