<section class="chironGraph font-color-white pdd-bottom-50">
  <div class="container-fluid graph">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title">Live biomechanical analyses</h2>
        <div class="row">
          <div class="col-md-6 pdd-left-30" style="margin: auto;">
            <h3>Use data during rest time, live or afer training to master your sport</h3>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="../../assets/images/Tablet-Outline.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
