<section id="about">
  <h2 class="section-title">Manage personal or team training</h2>
  <div class="container-fluid" style="background-color: #fff;">
    <div class="row">
      <div class="col-md-6 pdd-right-50" style="padding-left:0px">
        <img class="img-fluid" src="../../assets/images/about.jpg" alt="chiron-image">
      </div>
      <div class="col-md-6">
        <div class="">
          <img class="img-fluid" style="height: 350px;" src="../../assets/images/chiron-device.png">
        </div>
        <div class="">
          <h4>CHIRON S1</h4>
          <p>The edge of AI for performance</p>
          <h4>GET THE BEST OF YOUR TRAINING</h4>
          <P>Optimize your movements</P>
          <p>Push your limits</p>
          <p>Progress and perform in the best conditions</p>
          <h4>AVOID INJURIES</h4>
          <p>Avoid wrong movements and postures</p>
          <p>Get information about your strengths and weaknesses</p>
          <p>Adapt according to your level of performance</p>
        </div>
      </div>
    </div>
  </div>
</section>
