.overlay {
  position: absolute;
  font-style: italic;
  top: 32%;   /* chartArea top  */
  left: 87%; /* chartArea left */
  color: #32b0f3;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Lato';
}
